.technology {
  display: flex;
  flex-flow: column;
}

.technology h1 {
  width: 100%;
  padding: 60px 0 120px;
  overflow: hidden;
  position: relative;
}

.technology-container {
  display: flex;
  flex-direction: row;
  background: #f9f9f9;
  margin: -60px 120px 60px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 555;
}
.technology-container h2 {
  color: #222;
  font-size: 2em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.technology-container ul {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 30%;
  padding: 60px 0;
}
.technology-container a {
  display: block;
  color: #000;
  padding: 10px 40px;
}
.technology-container a:hover {
  background: #ddd;
  border-left: 2px solid #4f4f4f;
}
.technology-container a.active {
  background: #eee;
  border-left: 2px solid #6fcf97;
}

.technology-container article {
  display: flex;
  position: relative;
  flex-flow: column;
  flex: 1;
  background: #eee;
  height: 100%;
  width: 70%;
  padding: 60px;
}

.technology-container p {
  padding: 1em 0;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.technology-container img {
  width: 100%;
}
